<link rel="stylesheet" href="../css/bootstrap.min.css" />
<div class="container mt-5 mb-5">
  <h1>Forget Password</h1>
  <% if(msg.length >0){ %>
  <div class="alert alert-danger"><%= msg %></div>
  <% } %>
  <form action="/forgot_password" method="post">
    <input
      type="email"
      class="form-control"
      required
      placeholder="Enter EMail"
      name="email"
    />
    <br /><br />
    <input type="submit" class="btn btn-info" value="Forget Password" />
  </form>
</div>
